body {
  margin: 0;
  background: #ffffff;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

main {
  background-image: url(bg-image.jpeg);
  background-size: 600px 600px;
  background-repeat: no-repeat;
  background-position: 0%;
  background-position-x: center;
}

h1 {
  margin-bottom: 0;
  font-size: 48px;
  text-align: center;
  padding-left: 40px;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 60px;
  /* border-bottom: 1px solid #e0e0e0; */
  padding-left: 40px;
  color: rgb(76, 76, 76);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

section {
  text-align: center;
  text-decoration: none;
  padding-top: 480px;
}

section h2 {
  margin-bottom: 0;
  font-size: 20px;
  border: none;
  padding-bottom: 12px;
}

section>ul>li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}